::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: #001927;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
